body{
    max-height: 380vh;
    width: 100vw;
    margin : 0px;
    background-color: #F5F1E7;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
    font-family: MyTitle;
}

/* NAVBAR */
.navbar{
    background-color: rgba(239, 230, 212, 85);
    background-image: url(../Sources/FixHeader.png);
    background-size: cover;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 12vh;
    z-index: 999;
}
.kiri{
    display: flex;
    width: 70%;
    gap: 30px;
    color: #551E19;
}
.kiri >h2{
    font-size: 20px;
    margin-top: 40px;
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s ease, padding 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kiri>h2:nth-child(4){
    gap:10px;
}
.kiri>h2>a{
    color: inherit;
    text-decoration: none;
}


.browse-icon{
    width: 10px;
}

.kanan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.kanan > *{
    margin-top: 10px;
}

.content{
    width: 60%;
    height: 50px;
    display: flex;
}
.search-bar{
    height: 100%;
    width: 50px;
    display: flex;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s ease ;
    background-color: white;
    overflow: hidden;
    &:focus-within{
        width: 100%;
        .search-input{
            opacity: 1;
            cursor:text;
        }
    }
}
.search-input{
    cursor: pointer;
    border-radius: 15px;
    flex-grow: 1;
    font-size: 1rem;
    border: 0;
    padding:0 0.5rem ;
    background:transparent;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    opacity: 0;
}
.search-input:focus{
    outline: 0;
}

.kaca{
    width: 30px;
    height: auto;
    
}
.search-submit{
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    border-radius: 20px;
    margin-left: auto;
}

.user-image{
    width: 65px;
    margin-right: 20px;
    margin-top: 5px;
}

#Browse{
    position: relative;
}
/* Dropdown */
.sub-menu-browse{
    width: 100%;
    position: absolute;
    top: 4vh;
    padding: 0;
    display: flex;
    align-items: flex-start;
}
@media screen and (max-height: 1024px) {
    .sub-menu-browse{
        top:2.5vh;
    }
}


#dropdown-browse{
    width: 100%;
    background-color: #CABDA5;
    color: #551E19;
    padding: 0;
    padding-left: 1vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-radius: 5px;
    display: none;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    font-size: 1vw;
    gap:10px;
    /* opacity: 0; */
}

#dropdown-browse > li:hover{
    color: black;
    text-decoration: underline;
}

#dropdown-browse.open{
    display: flex;
}
#Browse.open{
    background-color:#CABDA5;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: black; 
    cursor: pointer; 
}

/* NAVBAR-ANIMATION */
/* Add hover effect to h2 elements */
.kiri > h2:hover {
    background-color:#CABDA5;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: black; 
    cursor: pointer; 
}

/* Add hover effect to user image */
.user-image:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease; 
}

@font-face {
    font-family: myTitle;
    src: url(./Sources/JudulPage/Alice-Regular.ttf);
}

/* Profile Page Kiel */
.container{
    font-family: myTitle;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
}

.left-part-profile{
    display: flex;
    flex-direction: column;
    width: min-content;
}

.right-part-profile{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.left-part-top{
    display: flex;
    flex-direction: row;
    width: auto;
}

.top-left-bot-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
}

.button-tracker{
    color: #FFFFFF;
    background-color: #551E19;
    border-style: solid;
    border-color: #551E19;
    border-radius: 15px;
    border-width: 15px;
    font-family: myTitle;
    font-size: 20px;
}

.button-tracker:hover{
    background-color: #551E19; 
    opacity: 70%;
    cursor: pointer;
}

.button-tracker:active {
    background-color: #551E19;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.bighead-duckling{
    font-size: 30px;
    color: #551E19;
    border-bottom: #000000 solid;
    border-bottom-width: 1.5px;
    padding-bottom: 10px;
}

.head-duckling{
    font-size: 20px;
    color: #551E19;
}

.top-mid-profile{
    padding-left: 5%;
    display: flex;
    width: 60%;
    flex-direction: column;
}

.desc-container{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding-left: 18px;
}

/* .line-mid{
    color: #000000;
    height: 1px;
    border: 0;
} */

.desc-duckling{
    font-family: myTitle;
    font-size: 18px;
    color: #000000;
    /* text-indent: 18px; */
    line-height: 1.5;
    text-align: justify;
    
}

.details-duckling{
    font-size: 18px;
    color: #000000;
    text-indent: 18px;
    line-height: 0.05;
}

.top-right-profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
}

.top-right-top{
    display: flex;
    flex-direction: row;
    max-width: max-content;
    /* margin-bottom: 15px; */
}

.top-mid-profile .bighead-duckling{
    margin-top: 0;
}

.top-right-top .bighead-duckling{
    margin: 0;
}

.total-read{
    display: flex;
    width: max-content;
    height: max-content;
    padding: 18px;
    padding-bottom: 0;
    padding-top: 0;
}

.total-read2{
    display: flex;
    width: 45px;
    height: 45px;
    padding: 18px;
    padding-bottom: 0;
    padding-top: 20px;
    padding-left: 10px;
}

.sideton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.button-side{
    color: #FFFFFF;
    background-color: #551E19;
    border-style: solid;
    border-color: #551E19;
    border-radius: 10px;
    border-width: 10px;
    font-family: myTitle;
    font-size: 12px;
    width: 60%;
}

.button-side:hover{
    background-color: #551E19; 
    opacity: 70%;
    cursor: pointer;
}

.button-side:active {
    background-color: #551E19;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.pic-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.quotes{
    color: #551E19;
    font-style: italic;
    text-align: center;
    line-height: 0.2;
}

/* .line-side{
    color: #000000;
    height: 1px;
    border: 0;
    margin-bottom: 20px;
} */

.duckling-shelves{
    font-size: 20px;
    color: #551E19;
    text-align:start;
    border-bottom: #000000 solid;
    border-bottom-width: 1.5px;
    padding-bottom: 10px;
}

/* .line-shelves{
    width: 100%;
} */

.left-part-mid{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-right: 15px; */
}

.bukus{
    transition: transform 0.3s ease;
}
.bukus:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.duckling-books{
    /* background-image: url(./Sources/ProfilePageKiel/Foto-Rak.png);
    background-repeat: no-repeat; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    /* background-position: center; */
    /* height: min-content; */
}

.duckling-bukunya{
   /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:flex-end;
}

.nyoba{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left-bottom-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* column-gap: 10%; */
}

.comment-container{
    width: 100%;
    background-color: #e7dfca84;
    border-color: #E7DFCA;
    font-family: myTitle;
    padding-left: 2%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.commentP1{
    font-family: myTitle;
    color: #0000008c;
}
.rate-star-comment{
    padding-top: 5px;
    margin-top: 5px;
}

.comment-buku{
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* gap: 10%; */
}
.buku{
    width: max-content;
}

.bagian-comment{
    width: auto;
    padding-left: 2%;
}
.judul-buku-comment{
    color: #551E19;
    font-family: myTitle;
    font-size: x-large;
    padding-bottom: 5px;
}
.penulis-buku-comment{
    color:#551e19ae;
    font-family: myTitle;
    font-size: large;
    margin-top: 8px;
}
.isi-comment{
    color:#000000;
    font-family: myTitle;
    font-size: medium;
}

.commentP2{
    font-family: myTitle;
    color:#551e19c0;
    margin-top: 0;
    padding-top: 5px;
}

.view-all{
    padding-left: 90%;
    text-decoration-line: underline;
    color: #551E19;
    font-size: larger;
    font-family: myTitle;
    font-weight: bold;
}

.right-part-bottom-judul{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    max-width: max-content;
}

/* .right-part-bottom{
    width: 100%; */
    /* margin-bottom: 10px; */
    /* display: flex;
    flex-direction: column; */
/* } */

.tulisan-part-friend{
    display: flex;
    flex-direction: column;
}

.friends-row{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.picturer{
    width: max-content;
    height: max-content;
}
.nama-teman{
    color: #551E19;
    font-family: myTitle;
    font-weight: bold;
    font-size: medium;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 3px;
}
.status-teman{
    color:#551e197e;
    font-family: myTitle;
    font-size: small;
    margin-top: 0px;
    padding-top: 0px;
}

/* Footer */
.container{
    max-width: 1170px;
    margin:auto;
}

.row{
    display: flex;
    /* flex-wrap: wrap; */
}

ul{
    list-style: none;
}


.footer{
    background-color: rgba(239, 230, 212, 0.8);
    background-image: url(./Sources/SourcesFooter/FOOTERFIXYEAH.jpg);
    width: 100%;
    /* padding: 30px 0; */
    /* position: absolute; */
    /* bottom: 100%; */
    /* left: 0; */
    /* width: 100%; */
}

.footer-col{
    width: 25%;
    /* padding: 0 15px; */
}

.footer-col h4{
    font-size: 25px;
    color: #551E19;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #551E19;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col h2{
    font-size: 20px;
    color:#551E19;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
    font-weight: 700;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    /* color:#551E19; */
    display: block;
    transition: all 0.3s ease;
    line-height: 25px;
}

.footer-col ul li a:hover{
    color: #551E19;
    padding-left: 10px;
}

.playstore{
    margin-top: 20px;
}

.playstore>img{
    width: 250px;
    height: auto;
}

.social-links>img{
    width: 25px;
    height: auto;
    padding: 2px;
}